.form {
  width: 100%;
  max-height: 1024px;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
  position: relative;
}

.formMobile {
  max-width: 360px;
  max-height: 1024px;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
}