.facility {
    width: 1065px;
    height: auto;
}

.card {
    width: 461px;
    max-height: 225px;
}

.titleFacility {
    font-size: 32px;
}

.category {
    text-transform: capitalize;
}

.distance {
    font-size: 10px;
}