.containerToAnotherAuth {
  /* position: absolute;
  bottom: 50px; */
  text-align: center;
  padding-bottom: 50px;
}

.containerToAnotherAuth p {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-dark-blue);

  margin: 0 0 5px 0;
}

.containerToAnotherAuth a {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--color-blue);
}

.containerToAnotherAuthMobile {
  /* position: absolute;
  bottom: 50px; */
  margin-top: 40px;

  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  text-align: center;

  color: var(--color-dark-blue);
}


.containerToAnotherAuthMobile a {
  color: var(--color-blue);
  font-weight: 600;
}