.card {
    max-width: 421px;
}

.image {
    width: 421px;
    height: 246px;
}

.imageLocation {
    margin-right: 5px;
}

.rating{
    width: 79px;
    height: 40px;
    padding: 10px 14px;
    
    background-color: #ffffff;
    border-radius: 0px 0px 0px 6px;
}

