.headerMobile {
  font-weight: 600;
  font-size: 20px;
  line-height: 23px;

  margin-bottom: 32px;

  color: var(--color-dark-blue);
  text-align: center;
}

.title {
  font-size: 32px;
  font-weight: 600;
  color: var(--color-dark-blue);

  margin-bottom: 0px;
}