.buttonUnable {
    opacity: 50%;
  }
  
  .container {
    width: 100%;
    height: 100vh;
    background-color: #ffffff;
  
    display: flex;
    margin: auto;
  }
  
  .form {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 32px;
    font-weight: 600;
    color: var(--color-dark-blue);

    text-align: center;
    margin-bottom: 40px;
  }
  
  .validationAlert {
    width: 345px;
    height: 60px;
  
    background-color: rgba(255, 89, 88, 0.2);
    border-radius: 2px;
  
    font-weight: 400;
    font-size: 10px;
    line-height: 12px;
  
    color: #ff5958;
  
    display: flex;
    justify-content: center;
    align-items: center;
  
    margin-top: 15px;
  }
  
  .containerInput {
    display: flex;
    flex-direction: column;
  
    max-width: 525px;
    max-height: 205px;
    height: 100%;
    width: 100%;
  
    margin-top: 47px;
    margin-bottom: 47px;
  }
  
  .emailLabel,
  .passwordLabel {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-dark-blue);
  
    margin-bottom: 10px;
  }
  
  .email {
    max-width: 525px;
    max-height: 49px;
    width: 100%;
    height: 100%;
  
    border: 2px solid var(--color-white);
    border-radius: 4px;
  
    font-size: 16px;
    margin-bottom: 20px;
  }
  
  .password {
    max-width: 525px;
    max-height: 49px;
    width: 100%;
    height: 100%;
  
    border: 2px solid var(--color-white);
    border-radius: 4px;
  
    font-size: 16px;
    margin-bottom: 10px;
  }

  .button {
    max-width: 525px;
    max-height: 47px;
    width: 100%;
    height: 100%;
    margin-top: 40px;
  
    background-color: var(--color-blue);
    border: none;
    border-radius: 4px;
  
    font-family: Roboto, sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
  
    color: #ffffff;
  }
  
  .containerToRegister {
    position: absolute;
    bottom: 50px;
    text-align: center;
  }
  
  .containerToRegister p {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-dark-blue);
  
    margin: 0 0 5px 0;
  }
  
  .containerToRegister a {
    font-weight: 600;
    font-size: 16px;
    line-height: 19px;
    color: var(--color-blue);
  }
  
  .button:hover {
    cursor: pointer;
  }
  
  /* Mobile/Tablet */
  .containerFormMobile {
    max-width: 360px;
    width: 100%;
    height: 100%;
  
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  
    margin: auto;
    padding-top: 41px;
    padding-bottom: 42px;
  }
  
  .formMobile {
    max-width: 360px;
  
    display: flex;
    flex-direction: column;
  }
  
  .headerMobile {
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
  
    margin-bottom: 32px;
  
    color: var(--color-dark-blue);
    text-align: center;
  }
  
  .emailLabelMobile,
  .passwordLabelMobile {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  
    margin-bottom: 6px;
  
    color: var(--color-secondary);
  }
  
  .emailMobile {
    width: 100%;
    height: 50px;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  
    padding: 17px 10px;
    margin-bottom: 16px;
  
    color: var(--color-dark-blue);
    border: 2px solid var(--color-white);
    border-radius: 4px;
  }
  
  .passwordMobile {
    width: 100%;
    height: 50px;
  
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
  
    padding: 17px 10px;
    margin-bottom: 6px;
  
    color: var(--color-dark-blue);
    border: 2px solid var(--color-white);
    border-radius: 4px;
  }
  
  .buttonMobile {
    width: 100%;
    height: 50px;
  
    color: var(--color-white);
    background-color: var(--color-blue);
    border: none;
    border-radius: 4px;
  }
  
  .containerToRegisterMobile {
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
  
    color: var(--color-dark-blue);
  }
  
  .containerToRegisterMobile a {
    color: var(--color-blue);
    font-weight: 600;
  }
  
  .validationAlertMobile {
    max-width: 360px;
    max-height: 36px;
    width: 100%;
    height: 100%;
    background-color: #ff5958;
  
    font-weight: 600;
    font-size: 14px;
    line-height: 16px;
    color: #ffffff;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .emailMobile::placeholder,
  .passwordMobile::placeholder {
    color: var(--color-white);
    opacity: 1;
  }
  
  .buttonMobile:hover {
    cursor: pointer;
  }
  /* Mobile/Tablet */
  