.containerInput {
  display: flex;
  flex-direction: column;
  gap: 20px;

  max-width: 525px;
  /* max-height: 703px; */
  /* height: 100%; */
  width: 100%;

  /* margin-top: 47px; */
  margin-top: 40px;
}

.containerInputMobile {
  max-width: 360px;
  width: 100%;
}