.container {
  width: 100%;
  height: 100vh;
  background-color: #ffffff;

  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.containerFormMobile {
  max-width: 360px;
  width: 100%;
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  margin: auto;
  padding-top: 41px;
  padding-bottom: 42px;
}